exampleSite/resources/_gen/
exampleSite/public/
resources/_gen/
public/
dist/

node_modules/*
!node_modules/photoswipe/
node_modules/photoswipe/*
!node_modules/photoswipe/src/
node_modules/photoswipe/src/*
!node_modules/photoswipe/src/photoswipe.css
!node_modules/photoswipe/dist/
node_modules/photoswipe/dist/*
!node_modules/photoswipe/dist/photoswipe.esm.js.map
!node_modules/photoswipe/dist/photoswipe.esm.min.js
!node_modules/photoswipe/dist/photoswipe-lightbox.esm.js.map
!node_modules/photoswipe/dist/photoswipe-lightbox.esm.min.js

!node_modules/gardevoir/
node_modules/gardevoir/*
!node_modules/gardevoir/dist/
node_modules/gardevoir/dist/*
!node_modules/gardevoir/dist/index.css

!node_modules/@csstools/
node_modules/@csstools/*
!node_modules/@csstools/normalize.css
node_modules/@csstools/normalize.css/*
!node_modules/@csstools/normalize.css/normalize.css

.hugo_build.lock
.vscode
