{{ define "main" }}

{{ .Content }}

{{ $advantages := where (where .RegularPagesRecursive "Type" "advantages") ".Params.featured" true }}
{{ if gt (len $advantages) 0 }}
<div class="container pt-3 pb-3 pb-md-6 pt-md-5">
    <div class="row justify-content-start">
        <div class="col-12">
            <h2 class="text-center mb-3">The Motionite Advantages</h2>
        </div>
        {{ range first 6 (sort $advantages ".Params.weight") }}
        <div class="col-12 col-md-4 mb-1">
            {{ .Render "summary" }}
        </div>
        {{ end }}
        <div class="col-12 text-center">
            <a class="button button-primary" href="{{ .Site.BaseURL }}advantages">View All Advantages</a>
        </div>
    </div>
</div>
{{ end }}

{{ end }}

