<!DOCTYPE HTML>
<html lang="{{ .Language }}">
    <head>
        {{- partial "head/head.html" . -}}
    </head>
    <body class="is-preload">
        <div id="page-wrapper">
            {{- partial "header/header.html" . -}}
            {{- partial "main-open.html" . -}}
                <div class="main-content">
                    {{- block "main-content" . }}{{- end }}
                </div>
                <div class="viewport-filler"></div>
            {{- partial "main-close.html" . -}}
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>
