@use 'libs/breakpoint';
@use 'libs/color/color';

@mixin _page-band-base {
    width: 100%;
}

@mixin _base {
    #page-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .hidden {
        visibility: hidden;
    }

    .page-band {
        @include _page-band-base;

        &-background-a {
            @include _page-band-base;
            background-color: color.get(color.$page-band-a-background);
        }
    
        &-background-b {
            @include _page-band-base;
            background-color: color.get(color.$page-band-b-background);
        }
    
        &-background-c {
            @include _page-band-base;
            background-color: color.get(color.$page-band-c-background);
        }
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    
    .center {
        text-align: center;
    }
    
    .article-date {
        font-size: 75%;
        float: right;
    }

    .main-content {
        flex: 0 0 auto;
    }

    .viewport-filler {
        flex: 1 1 auto;
    }

    .pagination-default {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;

        .disabled a, .active a {
            color: color.get(color.$pagination-default-disabled-active-anchor-foreground);
        }
    }
}

@mixin infinite {
    @include _base;

    .container {
        width: 1400px;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }

    .single-column-band {
        padding-left: 13em;
        padding-right: 13em;
    }
}

@mixin wide {
    @include _base;

    .container {
        width: 1200px;
        padding-top: 0.65em;
        padding-bottom: 0.65em;
    }

    .single-column-band {
        padding-left: 10em;
        padding-right: 10em;
    }
}

@mixin normal {
    @include _base;

    .container {
        width: 960px;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }

    .single-column-band {
        padding-left: 7em;
        padding-right: 7em;
    }
}

@mixin narrow {
    @include _base;

    .container {
        width: 95%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .single-column-band {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@mixin narrower {
    @include _base;

    .container {
        width: 100%;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }

    .single-column-band {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@mixin mobile {
    @include _base;

    .container {
        width: 100%;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .single-column-band {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
}

@mixin mobilep {
    @include _base;

    .container {
        width: 100%;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .single-column-band {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}
