@use 'libs/color/color';

@mixin _base {
    :where(ul, ol) {
        padding-left: revert; // Restore padding on left to show numbers and bullets
        margin: .6em 0; // Reduce top bottom padding
    }

    :where(b, strong) {
        font-weight: revert; // Restore to make bold work 
    }

    body {
        // Stops initial animations until page loads.
        &.is-preload {
            *, *:before, *:after {
                animation: none !important;
                transition: none !important;
            }
        }
    }

    html {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.4;
    }

    a {
        transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        color: color.get(color.$anchor-foreground);
        text-decoration: none;

        &:hover {
            color: color.get(color.$anchor-hover-foreground);
            border-bottom-color: transparent;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@mixin infinite {
    @include _base;
}

@mixin wide {
    @include _base;
}

@mixin normal {
    @include _base;

    body {
        font-size: 1rem;
    }
}

@mixin narrow {
    @include _base;

    body {
        line-height: 1.3;
    }
}

@mixin narrower {
    @include _base;

    body {
        font-size: 0.9rem;
        line-height: 1.2;
    }
}

@mixin mobile {
    @include _base;

    h2 {
        font-size: 1.25rem;
        letter-spacing: 0;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0;
    }
}

@mixin mobilep {
    @include _base;
}
