<footer>
    <section class="container">
        <div class="contact">
            {{ $contact := .Site.Params.contact }}
            {{ with $contact }}
                {{ $phone := .phone }}
                {{ with $phone }}
                    <div class="phone">
                        <span class="heading">{{ .heading }}: </span>
                        <span class="data">
                            <a href="tel:{{ .number }}">
                                {{ .number }}
                            </a>
                        </span>
                    </div>
                {{ end }}

                {{ $email := $contact.email }}
                {{ with $email }}
                    <div id="email">
                        <span class="heading">{{ .heading }}: </span>
                        <span class="data">
                            <a href="mailto:{{ .address }}">
                                {{ .address }}
                            </a>
                        </span>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <span class="imprint">
            <a href="{{ .Site.BaseURL }}imprint">imprint</a>
        </span>
    </section>
    <section class="page-info" onclick="toggleMediaSizeDisplayHidden(event)">
        <span class="media-size-display{{ if not .Site.IsServer }} hidden{{ end }}"></span>
    </section>
</footer>

<script>
    function toggleMediaSizeDisplayHidden(ev) {
        if (ev.ctrlKey) {
            const pageInfoElement = ev.currentTarget;
            const mediaSizeDisplayElement = pageInfoElement.querySelector('.media-size-display');
            mediaSizeDisplayElement.classList.toggle('hidden')
        }
    }
</script>