{{ $src := index . "src" }}
{{ $class := index . "class" }}
{{ $alt := index . "alt" }}
{{ $title := index . "title" }}
{{ $height := index . "height" }}
{{ $width := index . "width" }}
{{ $loading := index . "loading" }}
{{ $linkUrl := index . "linkUrl" }}
{{ $anchorClass := index . "anchorClass" }}
{{ $topBottomMargin := index . "topBottomMargin" }}

{{ if $linkUrl }}
    <a href="{{ $linkUrl }}" {{ with $anchorClass }}class="{{ . }}"{{ end }}>
{{ end }}

<img 
    src="{{$src}}"
    {{ with $class }}class="{{ . }}"{{ end }}
    {{ with $alt }}alt="{{ . }}"{{ end }}
    {{ with $title }}title="{{ . }}"{{ end }}
    {{ with $height }}height="{{ . }}"{{ end }}
    {{ with $width }}width="{{ . }}"{{ end }}
    {{ with $loading }}loading="{{ . }}"{{ end }}
    {{ with $topBottomMargin }}style="margin-top: {{ . }}; margin-bottom: {{ . }}"{{ end }}
/>

{{ if $linkUrl }}
    </a>
{{ end }}