{{ $src := .Get "src" }}
{{ $class := .Get "class" }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $height := .Get "height" }}
{{ $width := .Get "width" }}
{{ $loading := .Get "loading" }}
{{ $linkUrl := .Get "linkUrl" }}
{{ $anchorClass := .Get "anchorClass" }}

{{ if $linkUrl }}
    <a href="{{ $linkUrl }}" {{ with $anchorClass }}class="{{ . }}"{{ end }}>
{{ end }}

<img 
    src="{{$src}}"
    {{ with $class }}class="{{$class}}"{{ end }}
    {{ with $alt }}alt="{{$alt}}"{{ end }}
    {{ with $title }}title="{{$title}}"{{ end }}
    {{ with $height }}height="{{$height}}"{{ end }}
    {{ with $width }}width="{{$width}}"{{ end }}
    {{ with $loading }}loading="{{$loading}}"{{ end }}
/>

{{ if $linkUrl }}
    </a>
{{ end }}