{{ $columnCount := .Get "columnCount" }}
{{ $heading := .Get "heading" }}
{{ $type := .Get "type" }}

<section class="gridded-iconed-summaries">
    {{ with $heading }}
        <h2>{{ $heading }}</h2>
    {{ end }}

    <div class="grid" style="grid-template-columns: repeat({{ $columnCount | default "3" }}, 1fr)">
        {{ $pages := where (where .Page.RegularPagesRecursive "Type" $type) ".Params.featured" true }}
        {{ range first 6 (sort $pages ".Params.weight") }}
            {{ .Render "iconed-summary" }}
        {{ end }}
    </div>
</section>
