{{ $pageUrls := .Get "pages" }}
{{ $pageUrlsSlice := slice "./" }}
{{ if $pageUrls }}
    {{ $pageUrlsSlice = split $pageUrls "," }}
{{ end }}

<section class="icon-bulleted-summaries">
    {{ range $pageUrlsSlice }}
        {{ $pageUrl := strings.Trim . " "}}
        {{ $matches := findRE `\/\s*$` $pageUrl }}
        {{ if eq (len $matches) 0 }}
            {{ $page := page.GetPage $pageUrl }}
            {{ if not $page }}
                {{ errorf "Page does not exist: %s" $pageUrl }}
            {{ else }}
                {{ partial "icon-bulleted-summary" $page }}
            {{ end }}
        {{ else }}
            {{ $parentPage := $.Page.GetPage $pageUrl }}
            {{ if not $parentPage }}
                {{ errorf "Parent Page does not exist: %s" $pageUrl }}
            {{ else }}
                {{ $pages := sort (where $parentPage.Pages "Weight" "gt" 0) ".Params.weight" }}
                {{ if gt (len $pages) 0 }}
                        {{ range $pages }}
                            {{ partial "icon-bulleted-summary" . }}
                        {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</section>
