{{ $frontMatterParamName := .Get "frontMatterParamName" }}
{{ $map := index $.Page.Params $frontMatterParamName }}
{{ $sectionClass := .Get "sectionClass" }}
{{ with $map }}
    <section {{ with $sectionClass }} class="{{ . }}"{{ end }}>
        <div class="image-text-grid">
            {{- range . }}
                {{ $image := .image }}
                {{ $url := .url }}
                {{ if $image }}
                    {{ $getMatchResourcePath := newScratch }}

                    {{ $getMatchResourcePath.Set "page" $.Page }}
                    {{ $getMatchResourcePath.Set "resourcePath" $image.resourcePath }}
                    {{ $imageResource := partial "get-match-resource-path.html" $getMatchResourcePath }}

                    {{ partial "img.html"
                        (dict
                            "src" $image.resourcePath
                            "class" $image.class
                            "alt" $image.alt
                            "title" $image.title
                            "height" $image.height
                            "width" $image.width
                            "loading" $image.loading
                            "linkUrl" $url
                            "anchorClass" $image.anchorClass
                        )
                    }}
                {{ else }}
                    <div></div>
                {{ end }}
                <div>
                    {{ if $url }}
                        <a href="{{ $url }}">{{ .name }}</a>
                    {{ else }}
                        {{ .name }}
                    {{ end }}
                </div>
            {{- end }}
        </div>
    </section>
{{ end }}
