{{ $type := .Get "type" }}
<section class="left-right-alternating-iconed-summaries">
    <div class="grid" style="grid-template-columns: repeat(2, 1fr)">
        {{ $pages := where .Page.RegularPagesRecursive "Type" $type }}

        {{ $left := true }}
        {{ range (sort $pages ".Params.weight") }}
            {{ if $left }}
                {{ .Render "iconed-summary" }}
                <div></div>
            {{ else }}
                <div></div>
                {{ .Render "iconed-summary" }}
            {{ end }}
            {{ $left = not $left }}
        {{ end }}
    </div>
</section>
